/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/movie-pages/create/MovieFormPage.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MovieFormPage_movie-form-page__HIfp_ {
  max-width: 600px;
  margin: 0 auto;
}
.MovieFormPage_movie-form-page__HIfp_ h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.MovieFormPage_movie-form-page__HIfp_ form {
  display: flex;
  flex-direction: column;
}
.MovieFormPage_movie-form-page__HIfp_ form label {
  margin-bottom: 15px;
  font-weight: bold;
}
.MovieFormPage_movie-form-page__HIfp_ form input,
.MovieFormPage_movie-form-page__HIfp_ form textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.MovieFormPage_movie-form-page__HIfp_ form button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.MovieFormPage_movie-form-page__HIfp_ form button:hover {
  background-color: #0056b3;
}
