@import "../../../../styles/Fonts.module.scss";
@import "../../../../styles/Mixins.module.scss";
@import "../../../../styles/Variables.module.scss";

.movies-admin {

    &__title {
        font-size: 40px;
        font-family: $Noto-Sans-Bold;
        color: $text-color-white;
        margin-bottom: 20px;
    }

    &__table {
        border-collapse: separate;
        min-width: 99%;
        max-width: 100%;
        table-layout: fixed;
        overflow-x: auto;
        margin: 0 auto;

        &-row {
            &:first-child {
                .movies-admin__table-header:first-child {
                    border-top-left-radius: 10px;
                }

                .movies-admin__table-header:last-child {
                    border-top-right-radius: 10px;
                }
            }
        }

        &-cell,
        &-header {
            border: 1.5px solid white;
            padding: 10px 5px;
            text-align: center;
            font-family: $Ubuntu-Regular;
            overflow: hidden;
            white-space: nowrap;
            color: $text-color-white;
            vertical-align: middle;
        }

        &-header {
            resize: horizontal;

            &::-webkit-resizer {
                display: none;
            }
        }

        &-cell {
            max-width: 100px;
            text-overflow: ellipsis;

            .movies-admin__image-center {
                display: flex;
                align-items: center;
                justify-content: center;

                .movies-admin__image {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .movies-admin__action-button--delete {
                @include actionButtons();

                &:hover {
                    background-color: $secondary-color;
                }
            }

            .movies-admin__action-button--details {
                @include actionButtons();
                margin-left: 10px;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }
}