/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/movie-pages/movies-list/MoviesPage.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
.MoviesPage_movies-pages__W5R57 .MoviesPage_movies-heading__nvQau {
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
  color: white;
  margin-bottom: 10px;
}
.MoviesPage_movies-pages__W5R57 .MoviesPage_movie-content__list__qxC09 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.MoviesPage_movies-pages__W5R57 .MoviesPage_movie-content__list__qxC09 .MoviesPage_movie-details__Kynm2 {
  position: relative;
  width: 250px;
  height: 300px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.MoviesPage_movies-pages__W5R57 .MoviesPage_movie-content__list__qxC09 .MoviesPage_movie-details__Kynm2 .MoviesPage_movie-details__list__0FRnF {
  width: 100%;
  padding: 10px;
}
.MoviesPage_movies-pages__W5R57 .MoviesPage_movie-content__list__qxC09 .MoviesPage_movie-details__Kynm2 .MoviesPage_movie-details__list__0FRnF .MoviesPage_movie-details__list-info__BDn9S {
  position: absolute;
  right: 10px;
  top: 2px;
}

.MoviesPage_additional-info__OJjnk {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  visibility: hidden;
  z-index: 1000000;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  left: calc(100% + 10px);
}

.MoviesPage_movie-details__list-info__BDn9S:hover + .MoviesPage_additional-info__OJjnk {
  visibility: visible;
}

.MoviesPage_last-item__4SUQb {
  background-color: black;
  color: black;
  left: 0;
}
