@import "../../../styles/Variables.module.scss";
@import "../../../styles/Fonts.module.scss";

.registration {
  a {
    font-size: 16px;
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s;
    font-family: $Noto-Sans-Bold;
    &:hover {
      color: $primary-color;
    }
  }
}
