@import "../../../styles/Fonts.module.scss";
@import "../../../styles/Mixins.module.scss";
@import "../../../styles/Variables.module.scss";

.admin-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;

    &__select-button,
    &__create-button,
    &__select-delete-button {
        padding: 10px 20px;
        border-radius: 8px;
        color: $text-color-white;
        font-family: $Noto-Sans-Bold;
        transition: background-color 0.5s ease, opacity 0.3s ease;

        &:hover {
            opacity: 0.6;
        }
    }

    &__select-button {
        background-color: $primary-color;
    }

    &__create-button {
        background-color: #25ce2f;
    }

    &__select-delete-button {
        background-color: $secondary-color;
    }
}