/* reset.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Fonts.module.scss";
@import "./Mixins.module.scss";
@import "./Variables.module.scss";

@import "../components/header/Header.module.scss";
@import "../components/footer/Footer.module.scss";
@import "../components//navigation-bar//SupportPanel.module.scss";

@import "../app/actor-pages/actors-list/ActorsPage.module.scss";
@import "../app/movie-pages/movies-admin-page/MoviesAdminPage.module.scss";
@import "../app/cinema-theater-page/CinemaTheater.module.scss";
@import "../app/main-page/Main.module.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  //background-image
  background-image: url('../assets/images/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1000;
}

.wrapper {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  margin-top: 80px;
  padding: 0 100px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}