@mixin centerFlex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin buttons() {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: $text-color-white;
  font-family: $Noto-Sans-Bold;
  transition: background-color 0.3s ease;
}

@mixin actionButtons {
  padding: auto; //fix
  border-radius: 5px;
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: $background-color-black;
  transition: background-color 0.4s ease;
  color: $text-color-white;
}