//===========     color     ===========
$primary-color: #00BFFF;
$secondary-color: #ff5f1f;

$text-color-white: white;

//===========     background-color     ===========
$background-color-black: black;
$background-secondary-color: #f0f0f0;