@import "../../../styles/Fonts.module.scss";
@import "../../../styles/Mixins.module.scss";
@import "../../../styles/Variables.module.scss";

.popup-overlay {
    position: absolute;
    z-index: 1000;
}

.popup-content {
    @include sizing-and-background(300px, 100%, $background-color-black);
    color: $text-color-white;
    padding: 20px;
    border-radius: 5px;
}