@import "../../../styles/Variables.module.scss";
@import "../../../styles/Fonts.module.scss";

.login {
  a {
    font-size: 16px;
    color: $text-color-white;
    text-decoration: none;
    transition: color 0.3s;
    font-family: $Noto-Sans-Bold;

    &:hover {
      color: $primary-color;
    }
  }
}