/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/actor-pages/actors-list/ActorsPage.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
.ActorsPage_actors-admin-page__zQNbh {
  padding: 0 5%;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-heading__TQitq {
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
  color: white;
  margin-bottom: 10px;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN {
  border-collapse: separate;
  min-width: 80%;
  max-width: 100%;
  table-layout: fixed;
  overflow-x: auto;
  background-color: black;
  margin: 0 auto;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td,
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN th {
  border: 1.5px solid white;
  padding: 8px;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  text-align: center;
  vertical-align: middle;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN th {
  resize: horizontal;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN th::-webkit-resizer,
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td::-webkit-resizer {
  display: none;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td {
  max-width: 100px;
  text-overflow: ellipsis;
  position: relative;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_delete-action-button__2N1co {
  padding: auto;
  border-radius: 5px;
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.4s ease;
  color: white;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_delete-action-button__2N1co:hover {
  background-color: #ec2c2c;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_details-action-button__fRj8o {
  padding: auto;
  border-radius: 5px;
  border: none;
  padding: 8px;
  cursor: pointer;
  background-color: black;
  transition: background-color 0.4s ease;
  color: white;
  margin-left: 10px;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_details-action-button__fRj8o:hover {
  background-color: #00BFFF;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_actor-image__WeCn7 {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_enlarged-image__KgzxD {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: white;
  padding: 2px;
  display: none;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_actors-table__lC_qN td .ActorsPage_enlarged-image__KgzxD img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_button__s3lu1 {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Noto Sans", sans-serif;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_select-actor-button__iXKGC {
  background-color: #007bff;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_select-actor-button__iXKGC:hover {
  background-color: #0056b3;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_create-actor-button__GtnzK {
  background-color: #32CD32;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_create-actor-button__GtnzK:hover {
  background-color: #228b22;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_delete-selected-actor-button__yiNag {
  background-color: #ec2c2c;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_delete-selected-actor-button__yiNag:hover {
  background-color: #b70000;
}
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_select-actor-button__iXKGC,
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_create-actor-button__GtnzK,
.ActorsPage_actors-admin-page__zQNbh .ActorsPage_delete-selected-actor-button__yiNag {
  margin-bottom: 20px;
}
