@import "../../../styles/Fonts.module.scss";
@import "../../../styles/Variables.module.scss";
@import "../../../styles/Mixins.module.scss";

.actors-admin-page {
  padding: 0 5%;

  .actors-heading {
    font-size: 40px;
    font-family: $Noto-Sans-Bold;
    color: $text-color-white;
    margin-bottom: 10px;
  }

  .actors-table {
    border-collapse: separate;
    min-width: 80%;
    max-width: 100%;
    table-layout: fixed;
    overflow-x: auto;
    background-color: $background-color-black;
    margin: 0 auto;

    td,
    th {
      border: 1.5px solid white;
      padding: 8px;
      text-align: center;
      font-family: $Ubuntu-Regular;
      overflow: hidden;
      white-space: nowrap;
      color: $text-color-white;
      text-align: center;
      vertical-align: middle;
    }

    th {
      resize: horizontal;
    }

    th::-webkit-resizer,
    td::-webkit-resizer {
      display: none;
    }

    tr:first-child th:first-child {
      border-top-left-radius: 10px;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 10px;
    }

    td {
      max-width: 100px;
      text-overflow: ellipsis;
      position: relative;

      .delete-action-button {
        @include actionButtons();

        &:hover {
          background-color: #ec2c2c;
        }
      }

      .details-action-button {
        @include actionButtons();
        margin-left: 10px;

        &:hover {
          background-color: $primary-color;
        }
      }

      .actor-image {
        width: 25px;
        height: 25px;
        object-fit: cover;
        border-radius: 50%;
      }

      .enlarged-image {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        background-color: white;
        padding: 2px;
        display: none;

        img {
          max-width: 500px;
          max-height: 500px;
          object-fit: cover;
        }
      }
    }
  }

  .button {
    @include buttons();
    margin-right: 10px;
  }

  .select-actor-button {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }
  }

  .create-actor-button {
    background-color: #32CD32;

    &:hover {
      background-color: #228b22;
    }
  }

  .delete-selected-actor-button {
    background-color: #ec2c2c;

    &:hover {
      background-color: #b70000;
    }
  }

  .select-actor-button,
  .create-actor-button,
  .delete-selected-actor-button {
    margin-bottom: 20px;
  }
}