@import "../../../styles/Variables.module.scss";

.input-wrapper {
  background-color: white;
  border-radius: 10px;
  height: 30px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px $primary-color;
  display: flex;
  align-items: center;

  input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 15px;
    width: 100%;
    margin-left: 5px;

    &:focus {
      outline: none;
    }
  }
}

#search-icon {
  font-size: 20px;
  color: $primary-color;
}